<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ios-swift-moc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BC42155D1E69C3EF00727577</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC4215711E69C3F000727577</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC42157C1E69C3F000727577</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
